.description{
    max-width: 40vw;
}
.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
}
.btnsContainer{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 1rem;
    margin: 2rem;
    justify-content: space-around;
}

.task{
    border-bottom: 1px solid black;
}
td{
    text-align: center;
    padding:1rem;
}
th:not(:last-child){
    cursor: pointer;
    padding: 1rem;
}
tbody:before {
    line-height:1rem;
    content:".";
    color:white;
    display:block;
}